<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
    </head>
    <body>
        {{> header}}
        <hr />
        <div class="content">
            About Page Content
        </div>
        <hr />
        {{> footer}}
    </body>
</html>