<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
{{> header}}
<hr />
<div class="content">
    {{screamIt welcomeText}}
    {{screamIt 'Some String'}}
</div>
<hr />
{{> footer}}
</body>
</html>