<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css"/>
    <title>Home page</title>
</head>
<body>
{{> header}}
<div class="container">

    <div class="panel panel-default">
        <div class="panel-body">
            {{welcomeText}} <br />
            {{screamIt 'Some Text to Tset scream method'}}
        </div>
    </div>
    {{> footer}}

</div>


</body>
</html>