<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Site in Maintenance</title>
    </head>
    <body>
    <div class="content">
        WebSite is in maintenance, We will be right back!
    </div>
    <hr />
    {{> footer}}
    </body>
</html>